<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="CRMCS" connectionString="Url=http://10.0.10.43/traktornusantara; Domain=traknus; Username=dev.crm; Password=p4ssw0rdc12m18;"/>
  </connectionStrings>
  <appSettings>
    <add key="TITLEPSS" value="PSS|PDH|Korwil|SM"/>
  </appSettings>
</configuration>
