<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <appSettings>
      <!-- <add key="ConnectionCRM" value="Server=http://tncrmprd/TraktorNusantara; Domain=traknus; Username=service.crm; Password=53rv1c35tr4knu5CRM" /> -->
      <add key="ConnectionCRM" value="Server=http://tncrmdev/TraktorNusantara; Domain=traknus; Username=admin.crm; Password=pass@word2" />
      
      <!-- Request NPWP dan Account Number -->
      <add key="NPWP_SmtpClient" value="tnhocas2" />
      <add key="NPWP_From" value="admin.crm@traknus.co.id" />
      <add key="NPWP_To" value="Denny.Prasetya@ag-it.com,Ade.Budiman@ignitech.net,Vivaldi.Wattimena@ag-it.com,fatoni@ignitech.net,raymond@ignitech.net" />
      <add key="NPWP_Subject" value="Request Account Number,NPWP from Account Name:[name]" />
      <add key="NPWP_Body" value="{html}{head}{body}{table}{tr}{td}Yang Terhormat Bpk/Ibu,{/td}{/tr}{tr}{td}Dep. Accounting{/td}{/tr}{tr}{td}{/br}{/br}{/br}Silahkan lengkapi data Account Number dan NPWP dari Account di bawah ini di aplikasi CRM.{/td}{/tr}{/table}[custome]{/br}{/br}{/br}{/br}{/br}{/br}{div style='font-size:11px'}{center}Mohon Anda tidak membalas email ini. Untuk pertanyaan atau saran, hubungi Admin CRM.{/center}{/div}{/body}{/head}{/html}" />

      <!-- Request Quote Email Attachment PDF -->
      <add key="Quote_SmtpClient" value="tnhocas2" />
      <add key="Quote_From" value="admin.crm@traknus.co.id" />
      <add key="Quote_To" value="fatoni@ignitech.net,raymond@ignitech.net" />
      <add key="Quote_Subject" value="Quotation" />
      <add key="Quote_Body" value="{html}{body}Dear [Customer], Please find it in the Attachment the latest Quotation of Traknus Products.{/br}{/br}{/br}{/br}{/br}{div style='font-size:11px'}{center}Mohon Anda tidak membalas email ini. Untuk pertanyaan atau saran, hubungi Admin CRM.{/center}{/div}{/body}{/html}" />

      <add key="Quote_URL_SSRS" value="http://tncrmdev:81/ReportServer/ReportExecution2005.asmx" />
      <!--<add key="Quote_User_SSRS" value="service.crm" />-->
      <add key="Quote_User_SSRS" value="service.crm" />
      <add key="Quote_Password_SSRS" value="53rv1c35tr4knu5CRM" />
      <add key="Quote_Domain_SSRS" value="traknus" />
      <!-- <add key="Quote_Report_Path" value="/TraktorNusantara_MSCRM/Quotation" /> -->
      <add key="Quote_Report_Path" value="/TraktorNusantara/Quotation"/>
      <add key="Quote_Report_Logo_Path" value="/TraktorNusantara/Quotation with Logo"/>
      <add key="Quote_Create_File_Temp" value="D:\TraknusCRM\File_PDF\quotation.pdf" />
      <add key="Quote_File_Temp" value="D:\\TraknusCRM\File_PDF\\quotation.pdf" />

      <!-- COP to SAP -->
      <!--<add key="connectionSQL" value="Data Source=localhost;Initial Catalog=TraknusStaging;Integrated Security = SSPI;" />-->
      <add key="connectionSQL" value="Data Source=localhost;Initial Catalog=TraknusStaging;Password=pass@word1;user=LLHive;" />
      <!-- <add key="connectionSQL" value="Data Source=TNCRMDB1\CRMDBINSTANCE;Initial Catalog=TraknusStaging;Password=pass@word1;user=LLHive;" /> -->
      <add key="fileName" value="CPO_[custome].txt" />
      <add key="fileNameAttachment" value="SPC_[custome].txt" />
      <!-- <add key="pathFile" value="E:\\REPOSITORY\\Traknus\\Inbox\\" /> -->
      <add key="pathFile" value="D:\\REPOSITORY\\Traknus\\Inbox\\"/>

      <!-- WO to SAP -->
      <!--<add key="connectionSQL" value="Data Source=localhost;Initial Catalog=TraknusStaging;Integrated Security = SSPI;" />-->
      <add key="fileNameWOToSAP" value="SN_[custome].txt" />
      <!-- <add key="pathFileWOToSAP" value="E:\\REPOSITORY\\Traknus\\Inbox\\" /> -->
      <add key="pathFileWOToSAP" value="D:\\REPOSITORY\\Traknus\\Inbox\\"/>
    </appSettings>
</configuration>
