<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ZWEB_SERVICES_UNIT">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="ZWEB_SERVICES_UNIT_soap12">
                    <mtomMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="ZPST_FM_002_V7">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="ZPST_FM_002_V7_soap12">
                    <mtomMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="ZPST_CRM_CREATE_SO_UNIT">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="ZPST_CRM_CREATE_SO_UNIT_soap12">
                    <mtomMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="ZPST_FM_005_V2">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="ZPST_FM_005_V2_soap12">
                    <mtomMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="ZWS_WARRANTY_DATE_V3">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="ZWS_WARRANTY_DATE_V3_soap12">
                    <mtomMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="ZPST_CRM_CREATE_SO_UNIT_V8">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="ZPST_CRM_CREATE_SO_UNIT_V8_soap12">
                    <mtomMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="zpst_fm_006_v2">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:rfc:functions':    -->
                    <!--    <wsdl:binding name='zpst_fm_006_v2'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="zpst_fm_006_v2_soap12">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:rfc:functions':    -->
                    <!--    <wsdl:binding name='zpst_fm_006_v2_soap12'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zweb_services_unit/110/zweb_services_unit/zweb_services_unit"
                binding="customBinding" bindingConfiguration="ZWEB_SERVICES_UNIT"
                contract="WebServiceUnitSAP.ZWEB_SERVICES_UNIT" name="ZWEB_SERVICES_UNIT" />
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zweb_services_unit/110/zweb_services_unit/zweb_services_unit"
                binding="customBinding" bindingConfiguration="ZWEB_SERVICES_UNIT_soap12"
                contract="WebServiceUnitSAP.ZWEB_SERVICES_UNIT" name="ZWEB_SERVICES_UNIT_soap12" />
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zpst_fm_002_v7/150/zpst_fm_002_v7/zpst_fm_002_v7"
                binding="customBinding" bindingConfiguration="ZPST_FM_002_V7"
                contract="ZPST_CRM_CHECK_STOCK.ZPST_FM_002_v7" name="ZPST_FM_002_V7" />
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zpst_fm_002_v7/150/zpst_fm_002_v7/zpst_fm_002_v7"
                binding="customBinding" bindingConfiguration="ZPST_FM_002_V7_soap12"
                contract="ZPST_CRM_CHECK_STOCK.ZPST_FM_002_v7" name="ZPST_FM_002_V7_soap12" />
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zpst_fm_005_v2/150/zpst_fm_005_v2/zpst_fm_005_v2"
                binding="customBinding" bindingConfiguration="ZPST_FM_005_V2"
                contract="SAP_MOVING_PRICE.ZPST_FM_005_V2" name="ZPST_FM_005_V2" />
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zpst_fm_005_v2/150/zpst_fm_005_v2/zpst_fm_005_v2"
                binding="customBinding" bindingConfiguration="ZPST_FM_005_V2_soap12"
                contract="SAP_MOVING_PRICE.ZPST_FM_005_V2" name="ZPST_FM_005_V2_soap12" />
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zws_warranty_date_v3/150/zws_warranty_date_v3/zws_warranty_date_v3"
                binding="customBinding" bindingConfiguration="ZWS_WARRANTY_DATE_V3"
                contract="ZCRM_UPDATE_WARRANTY_DATE.ZWS_WARRANTY_DATE_V3"
                name="ZWS_WARRANTY_DATE_V3" />
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zws_warranty_date_v3/150/zws_warranty_date_v3/zws_warranty_date_v3"
                binding="customBinding" bindingConfiguration="ZWS_WARRANTY_DATE_V3_soap12"
                contract="ZCRM_UPDATE_WARRANTY_DATE.ZWS_WARRANTY_DATE_V3"
                name="ZWS_WARRANTY_DATE_V3_soap12" />
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zpst_crm_create_so_unit_v8/150/zpst_crm_create_so_unit_v8/zpst_crm_create_so_unit_v8"
                binding="customBinding" bindingConfiguration="ZPST_CRM_CREATE_SO_UNIT_V8"
                contract="ZPST_CRM_CREATE_SO_UNIT.ZPST_CRM_CREATE_SO_UNIT_V8"
                name="ZPST_CRM_CREATE_SO_UNIT_V8" />
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zpst_crm_create_so_unit_v8/150/zpst_crm_create_so_unit_v8/zpst_crm_create_so_unit_v8"
                binding="customBinding" bindingConfiguration="ZPST_CRM_CREATE_SO_UNIT_V8_soap12"
                contract="ZPST_CRM_CREATE_SO_UNIT.ZPST_CRM_CREATE_SO_UNIT_V8"
                name="ZPST_CRM_CREATE_SO_UNIT_V8_soap12" />
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zpst_fm_006_v2/120/zpst_fm_006_v2/zpst_fm_006_v2"
                binding="customBinding" bindingConfiguration="zpst_fm_006_v2"
                contract="ZPST_CRM_BOM_COMPONENT_PRICE.ZPST_FM_006_v2" name="zpst_fm_006_v2" />
            <endpoint address="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zpst_fm_006_v2/120/zpst_fm_006_v2/zpst_fm_006_v2"
                binding="customBinding" bindingConfiguration="zpst_fm_006_v2_soap12"
                contract="ZPST_CRM_BOM_COMPONENT_PRICE.ZPST_FM_006_v2" name="zpst_fm_006_v2_soap12" />
        </client>
    </system.serviceModel>
</configuration>