<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <connectionStrings>
      <add connectionString="Url = http://10.0.10.43/TraktorNusantaraSandbox; Domain = traknus; Username = dev.crm; Password = p4ssw0rdc12m18" name="TRSCRM"/>
    </connectionStrings>
</configuration>
